html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    background-size: cover; /* Ensures full coverage of the page */
    background-position: center center; /* Centers the image */
    background-attachment: fixed; /* Makes sure the image stays fixed even on scroll */
    overflow: hidden; /* Removes any overflow that may occur */
}
.nav-container {
    display: flex;
    gap: 60px;
    margin: 5px 550px;
}

a{
    font-family: 'Carter One', cursive;
    font-size: 1.75rem;
    text-decoration: none;
    color: black;
}

button{
    border-radius: 10px;
    background-color: #CD711D;
    border: none;
    height: 30px;
    width: 80px;
    font-family: 'Snippet', sans-serif;
    font-weight: 700;
    text-shadow: 1px 1px 0 #000;
    cursor: pointer;
    position: fixed;
    right: 50px;
    top: 15px;
}
p{
    margin-top: 205px;
    margin-left: 50px;
    width: 40%;
    font-family: 'Carter One', cursive;;
    font-size: 16px;
    line-height: 1.3;
    color: #333; 
    text-align: justify;
    font-weight: normal;
    letter-spacing: 0.5px;
}