* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    background-image: url('../images/top.png'); 
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #E8CFB8; 
    border: 2px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 95%;
    height: 70%;
    margin: 0px;
}
.flex-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    width: 180px; /* keeps all blocks consistent in width */
}

header {
    font-family: 'Snippet', sans-serif;
    text-align: center;
    margin-bottom: 50px;
    letter-spacing: 5px;
}

.logo img {

    border-radius: 50%;
    margin-bottom: 10px;
    position: fixed;
    left: 10px;
    top: 10px;
}

h1 {
    font-size: 36px;
    font-family: 'Georgia', serif;
    color: #3d2e1e;
}
.selected {
    border: black; /* green border */
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}

p {
    font-size: 18px;
    color: #7a6c5b;
    margin-top: 5px;
    margin-bottom: 20px;
    /* margin-left: 150px; */
    letter-spacing: 2px;
    font-family: 'Snippet', sans-serif;
    color: black;
}
h2{
    margin-bottom: 10px;
    margin-left: 120px;
    letter-spacing: 2px;
    font-family: 'Snippet', sans-serif;
    color: black;
}

main {
    width: 100%;
    text-align: center;
}

.wardrobe-section h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #7a6c5b;
}

.image-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 3 columns */
    /* gap: 1rem; spacing between items */
    padding: 1rem;
    margin-left: 0;
}
.occasion-image{
    width: 150px;
    height: 190px;
}
/* Next Button */
.next-button {
    background-color: #f07c00;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    text-decoration: none;
}

.next-button:hover {
    background-color: #d76b00;
}
/* .selected{
    background-color: rgb(37, 186, 39);
} */
.occasion-text{
    text-align: center;
}