* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    background-image: url('images/top.png'); 
    background-size: cover;
    background-position: center;
    height: 100vh;
}
h1{
    font-family: 'Snippet', sans-serif;
    text-align: center;
    margin-top: 10px;
    letter-spacing: 10px;
}
.logo{
    margin: 0;
}
.container{
    height: 70%;
    width: 100%;
    background-image: url('images/RESULT.png');
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;   
    justify-content: center;
    overflow: hidden;
    padding: 20px;
    font-family: 'Snippet', sans-serif;
    letter-spacing: 5px;
}
.topic{
    margin-bottom: 20px;
}
