body{
    background-image: url(images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;  
    overflow: hidden;
    z-index: -1;
    min-width: 100vw;
    min-height: 100vh;
}
.container{
    height: 40vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    z-index: 1;
    text-align: center;
    margin: 0;
    font-size: 65px;
}
.hfirst{
    margin-top: 70px;
}
.hfirst,.hsecond{
    color: #964B00;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    letter-spacing: 2px;
}
button{
    border-radius: 10px;
    background-color: #CD711D;
    border: none;
    height: 30px;
    width: 80px;
    font-family: 'Snippet', sans-serif;
    font-weight: 700;
    text-shadow: 1px 1px 0 #000;
    cursor: pointer;
}
p{
    font-family: 'Snippet', sans-serif;
}
.logo{
    position: fixed;
    height: 50px;
    width: 70px;
    right: 0;
    top: 0;
    margin-top: 25px;
    margin-right: 30px;
    z-index: 1;
}
h1{
    font-family: 'Snippet', sans-serif;  
}
.hend{
    font-family: 'Slackey', cursive;
    text-shadow:2px 2px 0 black, -2px -2px 0 black;
    color: #CF731E;
}
input{
    margin-top: 10px;
    width: 350px;
    height: 15px;
    border-radius: 10px;
    padding: 10px;
    background-color: #D9CCBD;
}
.firstbtn{
    margin-top: 10px;
}
span{
    color: #CCCCCC;

}