<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/about.css">
</head>
<body>
    <nav class="nav-container">
        <a href="{{ url_for('about') }}">Home</a>
        <a href="{{ url_for('upload_top') }}">Tops</a>
        <a href="{{ url_for('upload_bottom') }}">Bottoms</a>
        <a href="{{ url_for('occasion') }}">Occasion</a>
    </nav>
    <!-- <button onclick="window.location.href='index.html'">sign Out</button> -->
    <p>StyleFit simplifies your wardrobe choices by offering personalized outfit suggestions for any occasion. Easily select your clothing items and event details, and get recommendations for mix-and-match combinations from your existing wardrobe. Enhance your style effortlessly with curated suggestions tailored to your preferences, making outfit planning stress-free and fun.</p>
</body>
</html>